In [2]:
import json 
import numpy as np
import pandas as pd 
import joblib

from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import LabelEncoder 
from sklearn.ensemble import RandomForestClassifier 
from sklearn.ensemble import ExtraTreesClassifier

import warnings
warnings.filterwarnings("ignore")

In [11]:
df = pd.read_csv('data/student.csv')
X = df.drop(['test preparation course'], axis=1)
y = df['test preparation course']

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=1234)

In [29]:
train_mode = dict(X_train.mode().iloc[0])
X_train = X_train.fillna(train_mode)
train_mode

{'gender': 'female',
 'race/ethnicity': 'group C',
 'parental level of education': "associate's degree",
 'lunch': 'standard',
 'math score': 65,
 'reading score': 67,
 'writing score': 74}

In [30]:
encoders = {}

for column in ['gender', 'race/ethnicity', 'parental level of education', 'lunch']:
    categorical_convert = LabelEncoder()
    X_train[column] = categorical_convert.fit_transform(X_train[column])
    encoders[column] = categorical_convert
training_score_encoder = categorical_convert.fit_transform(y_train)

In [28]:
X

,gender,race/ethnicity,parental level of education,lunch,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,72,72,74
1,female,group C,some college,standard,69,90,88
2,female,group B,master's degree,standard,90,95,93
3,male,group A,associate's degree,free/reduced,47,57,44
4,male,group C,some college,standard,76,78,75
...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,88,99,95
996,male,group C,high school,free/reduced,62,55,55
997,female,group C,high school,free/reduced,59,71,65
998,female,group D,some college,standard,68,78,77
999,female,group D,some college,free/reduced,77,86,86

In [21]:
et = ExtraTreesClassifier(n_estimators = 100)
et = et.fit(X_train, training_score_encoder)

In [22]:
rf = RandomForestClassifier(n_estimators=100)
rf = rf.fit(X_train, training_score_encoder)

In [23]:
joblib.dump(train_mode, "./joblib/train_mode.joblib", compress=True)
joblib.dump(encoders, "./joblib/encoders.joblib", compress=True)
joblib.dump(rf, "./joblib/random_forest.joblib", compress=True)
joblib.dump(et, "./joblib/extra_trees.joblib", compress=True)

['./joblib/extra_trees.joblib']

In [25]:
y

0           none
1      completed
2           none
3           none
4           none
         ...
995    completed
996         none
997    completed
998    completed
999         none
Name: test preparation course, Length: 1000, dtype: object

In [3]:
a = pd.read_csv('https://raw.githubusercontent.com/pplonski/datasets-for-start/master/adult/data.csv', skipinitialspace=True)

In [27]:
a.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

AttributeError: 'Index' object has no attribute 'sum'